@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #29D159;
  --radius: 9999px;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .highlight {
    @apply text-accent;
  }
}